
<div align="center">
<h1>Display Bookmarks</h1>

<table>
  
<% @bookmarks.each do |bookmark| %>
  <tr>
    <td><%=  link_to bookmark.name, show_links_bookmark_path(:id => bookmark.id) %></td> 
    <td><%= link_to 'Show', bookmark %></td>
    <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
    <td><%= link_to 'Destroy', bookmark, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>

</table>

</div>
<br />

<%= link_to 'Add Bookmark', new_bookmark_path %>
