
<div align="center">
<h1>Display Bookmarks</h1>

<table>
  <%= form_for @search do |f| %>
    <%= f.label :name_contains, "Search by name of the book:" %>&nbsp;
    <%= f.text_field :name_contains %>&nbsp;
    <%= f.submit %>
<% end %><br /><br />
<% @bookmarks.each do |bookmark| %>
  <tr>
    <td><%=  link_to bookmark.name, show_links_bookmark_path(:id => bookmark.id) %></td> 
    <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %>  || 
    <%= link_to 'Destroy', bookmark, confirm: 'Are you sure?', method: :delete %></td>
<% end %>

</table>

</div>
<br />

<%= link_to 'Add Bookmark', new_bookmark_path %>
