<h3>Links list</h3>
<% @book.links.each do |sub| %>
<a href="<%= sub.url %>" target="_blank"><%= sub.url %> </a><%= sub.description %> &nbsp;- <u><%= link_to 'Edit', edit_link_path(:id => sub.id) %></u><br/>
<% end %><br/>

<%= link_to 'Back', bookmarks_path %>



