<h3>Display Links</h3>

<table>
  <tr>
    <th>Url</th>
    <th>Description</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>
   <% @book.links.each do |sub| %>
   <tr>
   <td><a href="<%= sub.url %>" target="_blank"><%= sub.url %> </a>  &nbsp; &nbsp;  </td>  
   <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= sub.description %> &nbsp;</td> 
</tr>
<% end %>


</table>

<%= link_to 'Back', bookmarks_path %> &nbsp; &nbsp; &nbsp;
<%= link_to 'New Link', new_link_path %>

