<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :post %><br />
    <%= f.text_area :post %>
  </div>
  <div class="field">
    <%= f.label :activity %><br />
    <%= f.collection_select(:activity_id, Activity.all, :id, :query, {:prompt => true}) %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.collection_select(:user_id, User.all, :id, :first_name, {:prompt => true}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
