


<html>

<head>

<title>ANIBEES</title>



</head>

<body>

<div class="home">


<!--main_container starts-->



<!--Header starts-->

<div id="header">

  <div class="logo"><a href="#" title="Anibees"><img src="/assets/logo.png" alt="Anibees logo"/></a></div>
 
 <div class="table"><table>

	<tr>
 
	  <td>&nbsp;</td>

	  <td><font color="#eee">Follow us:</font></td>

         

	  <td><a href="#"><img src="/assets/Twitter.png" height="24" width="24"/></a></td>

	  <td><a href="#"><img src="/assets/Facebook.png" height="24" width="24"/></a></td>

	  <td><a href="#"><img src="/assets/LinkedIn.png" height="24" width="24"/></a></td>

        </tr>

  </table>

</div>

</div>




<!--header ends-->
<div id="main_container">


<div id="middlebg">

<!--body_content starts-->

<div id="body_content">

<!--innerbox1 starts-->

<div id="innerbox">

 <div class="left">

<h1>About Us</h1>

  
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia velit quam, at ullamcorper mi. Pellentesque magna arcu, vulputate eget ultricies sollicitudin, fermentum eu arcu. Maecenas lobortis interdum molestie. Vivamus sed posuere enim. Vivamus porta nisl et augue pulvinar pretium ac eu velit. Pellentesque ut arcu aliquet mi mollis gravida. Nullam imperdiet ornare nisl, ut convallis dui placerat luctus. Fusce euismod, diam vitae semper porta, magna ante dictum orci, at malesuada erat purus et leo. Nam mauris nulla, tincidunt non molestie ut, cursus tempus magna. Cras malesuada imperdiet mi. Suspendisse potenti.</p>



<p>Mauris interdum, dolor et egestas pharetra, lectus leo pulvinar odio, consequat auctor augue nibh eget arcu. Vivamus eget magna elit, non interdum sapien. Donec ac quam dolor, vitae rhoncus lorem. Praesent at eros libero. Fusce lacus leo, eleifend et mattis id, lacinia vitae augue. Phasellus ullamcorper tempus neque, et ornare ante feugiat scelerisque. 
  

Proin cursus mattis luctus. Proin vel purus ipsum, vel tempus mi. Maecenas mauris magna, ultrices id aliquet in, viverra eu neque. Nunc imperdiet justo eu nibh rhoncus vitae egestas mauris posuere. Donec placerat, massa a vehicula cursus, elit nunc faucibus mauris, a tristique orci turpis at elit. Curabitur non nibh nunc, eget scelerisque augue. Mauris semper, sem id commodo vulputate, dolor massa sollicitudin eros, vel vehicula mi nunc non elit. Aliquam rhoncus felis eu lorem viverra dignissim consectetur arcu cursus. Proin sed diam at diam mattis laoreet ut quis libero. Mauris fermentum erat eget ligula aliquet venenatis. </p>

</div>

</div>

<!--innerbox1 ends-->

<!--innerbox2 starts-->

<div id="innerbox">

 <div class="right">

   

	<fieldset>

	<h2><center>Sign in to your Anibeez account </center></h2><br/><br/>

<div class="form-right"> 

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>


</div>

	</fieldset>
</form>

</div>
</div>

<!--innerbox2 ends-->
</div>
</div>
<!--footer starts-->


<div id="footer">

  <span>Copyright &copy; 2012 Anibees</span>

</div>

<!--footer ends-->


<!--main_container ends-->





</body>

</html>




