<h1>Welcome <%= @user.first_name %>&nbsp;<%= @user.last_name %></h1>
<%= image_tag @user.avatar.url(:thumb) %><br/><br/>

<%= link_to 'Update profile', edit_user_registration_path %><br/>
<%= link_to 'Recent Activities', activities_path  %><br/>
<%= link_to 'Bookmarks', bookmarks_path  %>



<h2>User search</h2>
<%= form_for @search do |f| %>
    <%= f.label :first_name_contains, "Search by user name:" %><br/>
    <%= f.text_field :first_name_contains, :size => "10" %><br/>
    
    <!-- etc... -->
    <%= f.submit "search" %>
<% end %>

<% @users.each do |user| %> <%= image_tag user.avatar.url(:thumb) %>
<%= user.first_name %>&nbsp;<%= user.last_name %><br/>
<% end %>


