<h1>Listing links</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Description</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @links.each do |link| %>
  <tr>
    <td> &nbsp; &nbsp;&nbsp;<a href="<%= link.url %>" target="_blank"><%= link.url %> </a></td> 
    <td><%= link.description %></td> &nbsp; &nbsp; &nbsp;  
    <td><%= link_to 'Edit', edit_link_path(link) %> ||</td>
    <td><%= link_to 'Destroy', link, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'BACK', bookmarks_path %> &nbsp; &nbsp; &nbsp;
<%= link_to 'New Link', new_link_path %>
