<html>

<head>

<title>ANIBEES</title>

<link rel="stylesheet" type="text/css" href="css/styles.css"/>

</head>

<body>

<div class="home"><!--home container starts-->

<div id="header"><!--Header starts-->

<div class="logo"><a href="#" title="Anibees"><img src="/assets/logo.png" alt="Anibees logo"/></a></div>
 
<div class="table"><!--table starts-->
 <table>

	<tr>
 
	  <td></td>

	  <td><font color="#eee">Follow us:</font></td>
         
	  <td><a href="#"><img src="/assets/Twitter.png" height="24" width="24"/></a></td>

	  <td><a href="#"><img src="/assets/Facebook.png" height="24" width="24"/></a></td>

	  <td><a href="#"><img src="/assets/LinkedIn.png" height="24" width="24"/></a></td>

        </tr>

  </table>

</div><!--table ends-->

</div><!--header ends-->

<div id="main_container"><!--main_container starts-->

<div id="middlebg"><!--middlebg starts-->
<u><h1 align="center">Registration form</h1></u>
<br/>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div>
<table align="center">
<tr>
  <td><%= f.label :first_name %></td><td>
  <%= f.text_field :first_name %></td></tr>
<tr>
  <td><%= f.label :last_name %></td><td>
  <%= f.text_field :last_name %></td></tr>
  <tr>
  <td><%= f.label :'email', 'Anira Mail id'  %></td><td>
  <%= f.email_field :email %></td></tr>
<tr>
  <td><%= f.label :password %></td><td>
  <%= f.password_field :password %></td></tr>
<tr>
  <td><%= f.label :password_confirmation %></td><td>
  <%= f.password_field :password_confirmation %></td></tr>
<tr>
  <td><%= f.label :'alternate_email', 'Alternate Mail Id' %></td><td>
  <%= f.email_field :alternate_email %></td></tr>
<tr>
  <td><%= f.label :'dob', 'Date Of Birth' %></td><td>
  <%= f.date_select :dob, :start_year => 1950 %></td></tr>
<tr>
  <td><%= f.label :'doj', 'Date Of Joining' %></td><td>
  <%= f.date_select :doj %></td></tr>
<tr>
  <td><%= f.label :'phone_no', 'Phone Number' %></td><td>
  <%= f.text_field :phone_no %></td></tr>


<tr><td>
<%= f.label :'sex' %> </td>
<td><div>
  <% ["Male","Female"].each do |item| %>
  <%= f.radio_button :sex, item %> <%= item %>
  <% end %>
 </div></td></tr>

 <tr>
  <td><%= f.label :'address' ,  'Address For Comunication' %></td><td>
  <%= f.text_area :address, rows: 6 %></td></tr>
<tr><td></td>
  <td><%= f.check_box :conditions %><%= f.label :'conditions','Terms And Conditions' %></td></tr>
 <tr> <td></td><td>
    <%= recaptcha_tags %> 
   </td></tr></table>
</div>
  <div align="center"><%= f.submit "Sign up" %>
<% end %><br/><br/><br/>



</div><!--middlebg ends-->
<div id="footer"><!--footer starts-->
<span>Copyright &copy; 2012 <a href="http://www.anirasolutions.net" target="blank">Anira</span>
</div><!--footer ends-->

</div><!--main_container ends-->

</div><!--home container ends-->

</body>
</html>



<!--

<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div><%= f.label :first_name %>
  <%= f.text_field :first_name %></td></tr>

  <div><%= f.label :last_name %>
  <%= f.text_field :last_name %></td></tr>
  
  <div><%= f.label :'email', 'Anira Mail id'  %>
  <%= f.email_field :email %></td></tr>

  <div><%= f.label :password %>
  <%= f.password_field :password %></td></tr>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></td></tr>

  <div><%= f.label :'alternate_email', 'Alternate Mail Id' %>
  <%= f.email_field :alternate_email %></td></tr>

  <div><%= f.label :'dob', 'Date Of Birth' %>
  <%= f.date_select :dob, :start_year => 1950 %></td></tr>

  <div><%= f.label :'doj', 'Date Of Joining' %>
  <%= f.date_select :doj %></td></tr>

  <div><%= f.label :'phone_no', 'Phone Number' %>
  <%= f.text_field :phone_no %></td></tr>
 
  <div><%= f.label :'sex' %>
  <% ["Male", "Female"].each do |item| %>
  <%= f.radio_button :sex, item %> <%= item %>
  <% end %>
  </div>

 
  <div><%= f.label :'address' ,  'Address For Comunication' %><br/>
  <%= f.text_area :address, rows: 6 %></td></tr>

  <div><%= f.check_box :conditions %><%= f.label :'conditions','Terms And Conditions' %></td></tr>
  <div class="field"> 
    <%= recaptcha_tags %> 
   </div>
  <div><%= f.submit "Sign up" %></td></tr>
<% end %>

<%= render :partial => "devise/shared/links" %>
-->

